<div class="container">
    
  <div class="row align-items-center my-4">


    <div class="col"><img  class="images" src="logo.png" width="100px"/></div>
    <div class="col">
      <h1 class="text-center">Gestion Budgétaire</h1>
    </div>
    <div class="col text-end">
      <span>Bienvenue, {{nameLogger}} {{lastnameLogger}} </span> <label style="font-size: small;">Admin</label>
      <button class="btn btn-outline-primary ms-2" routerLink=""  >   Déconnexion</button>
    </div>
</div>





  <nav class="nav nav-pills justify-content-center mb-4" >
    <button class="btn btn-success"   (click)="scrollToSection('organismes-section')"    > Communes  </button>
    <button class="btn btn-success"  (click)="scrollToSection('rapports-section')"   >  Rapports  </button>
    <button class="btn btn-success" (click)="scrollToSection('users-section')"  >    Utilisateurs </button>
  </nav>
  
    <div class = "row justify-content-center mb-4">
        
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="col d-flex justify-content-center align-items-center">
              <img class="images" src="logo1.png" width="900px"/>
          </div>
          
            <h6>   Avec nous, la gestion budgétaire des organismes devinent simple, efficace et transparente. Grâce à notre plateforme intuitive, vous
               pouvez saisir, visualiser et gérer vos données financières en toute confiance, assurant ainsi une administration financière complète
                et conforme aux normes les plus strictes.</h6>
            
          </div>
        </div>
      </div>

    </div>







    <div id="organismes-section">
    <div class="row justify-content-center mb-4">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Organismes </h5>
            <ul class="list-group list-group-flush">
              @if(ifnull(todo)){
                @for(todo of todos; track todo.id){
                  <li class="list-group-item"> {{todo.nomorg }} 
                    <button class="btn btn-sm btn-danger ms-2" (click)="supprimer(todo)" >  Suprimmer </button>
                    <button class="btn btn-sm btn-warning ms-2" (click)="detail(todo)" > Détail </button>
                    <button class="btn btn-sm btn-primary ms-2" (click)="wannarapport(todo)" > setectionner </button>
                  </li>  }
               }@else {
                <p class="text-muted" >  Aucun organisme trouvé.</p>
               }
            </ul>
          </div>
          <div class="card-footer">
            <button class="btn btn-primary" (click)="wannaadd()"  >   Ajouter un organisme</button>
          </div>
        </div>
      </div>
    </div>



    @if (seeDetail) {
      <div class="row justify-content-center mb-4">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item" >
                
                  {{ selectedTodo2.nomorg }}
            
                </li>
                <li class="list-group-item" >
                  {{ selectedTodo2.region }}
                 
                 </li>
                 <li class="list-group-item" >
                
                  {{ selectedTodo2.ville }}
                 </li>
                 <li class="list-group-item" >
                  {{ selectedTodo2.idoforg }}
                 </li>
                 <li class="list-group-item" >
                  {{ selectedTodo2.email }}
                 </li>
                 <li class="list-group-item" >
                
                  {{ selectedTodo2.tele}}
                 </li>
              </ul> 
         
            </div>
            <div class="card-footer">
              <button class="btn btn-primary" (click)="retour2()" >  Retour </button>
            </div>
          </div>
        </div> 
      </div>
      }




    @if (ajouter) {
    <div class="card" id="formOfOrg">
      
      <div class="card-body">
        <h5 class="card-title"> Ajouter un Organisme</h5>

        
          <div class="mb-3">
            
            <label for="nomOrganisme" class="form-label">Nom de l'Organisme</label>
            <input type="text"  [(ngModel)]="todo.nomorg" class="form-control" id="nomOrganisme" name="nomOrganisme" required> <!--[(ngModel)]="nouvelOrganisme.nom" -->
          </div>

          <div class="mb-3">
              <label for="id" class="form-label">Identifiant :</label>
              <input     [(ngModel)]="todo.idoforg" type="text"  class="form-control" id="id" name="id">
             
            </div>
            <div class="mb-3">
              <label for="region" class="form-label">Region :</label>
              <input    [(ngModel)]="todo.region" type="text" class="form-control" id="region" name="region">
              
            </div>
            <div class="mb-3">
              <label for="ville" class="form-label">Ville :</label>
              <input   [(ngModel)]="todo.ville" type="text" class="form-control" id="ville" name="ville">
              
            </div>

          <div class="mb-3">
            <label for="telephone" class="form-label">Téléphone</label>
            <input  [(ngModel)]="todo.tele"  type="tel" class="form-control" id="telephone" name="telephone">
            
          </div>

          <div class="mb-3">
              <label for="email" class="form-label">Email :</label>
              <input   [(ngModel)]="todo.email" type="email" class="form-control" id="email" name="email">
              
            </div>

          <button (click)="addTodo()" class="btn btn-success ">Ajouter</button>
          <button (click)="retour1()" class="btn btn-warning ">Retour</button>
     
      </div>
    </div>

     }




    </div>






    <div id ="rapports-section">

        <div  class="row justify-content-center mb-4">         
            <div class="col-md-6">
              <div class="card">
                <div class="card-body">
                  <h3 class="card-title">Génerer Un Rapport Budgétaire </h3>
                  @if (selectedTodo.id ==  null ) {
                     <h6 id ="notselected">Selectionner d'abord un Organisme  en haute </h6>
                    }
                  <form id ="selected" (ngSubmit)="generateRapport(selectedTodo,yearofsituation)">
                  <p><strong>Nom:</strong>  {{ selectedTodo.nomorg}} </p>
                  <div class="mb-3">
                    <label for="year" class="form-label">L'Année  </label>
                    <input [(ngModel)]="yearofsituation"  type="number" class="form-control" id="year" name="year" min="2000" max="2090" > 
                  </div>
                  <div class="row justify-content-center mb-4">
                    <div class="d-flex align-items-center">
                      <div class="file-upload-wrapper me-3"> 
                        <label class="btn btn-primary">
                          Recettes
                          <input   [(ngModel)]="recetteFile" (change)="onFileChange1($event)" name="recetteFile" type="file" accept=".xlsx, .xls" hidden  required />
                        </label>
                      </div>
                      <div class="file-upload-wrapper">
                        <label class="btn btn-primary">
                          Dépenses
                          <input  [(ngModel)]="depenseFile"  (change)="onFileChange2($event)"  name="depenseFile" type="file" accept=".xlsx, .xls" hidden required />
                        </label>
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-warning ms-2" (click)="generateRapport(selectedTodo,yearofsituation)"> Génerer Rapport </button> 
                  @if (isgenerated){
                    <button class="btn btn-success ms-2" (click)="wannasee()" > Voir Le Rapport </button>
                  }              
                </form>
                </div>
              </div>
            </div>
          </div>
          



          

        @if(look){ 
            <div class="row justify-content-center mb-4" >
              <div class="col-md-10">
                <div class="card">
                  <div class="card-body">

                    <div >
                      <div class="d-flex align-items-center justify-content-between">
                        <img class="images" src="logo.png" width="100px"/>
                        <h4 class="mx-auto display-4" style="font-style: oblique;">Gestion {{this.yearorg}}</h4>
                        <img class="images" src="logox.jpg" width="100px"/>
                    </div>
                    
                      <h5>Rapport Budgétaire de l'année {{yearorg}} de {{raporg}}  </h5>
                      <table class="table table-bordered table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>********</th>
                                <th>Recettes</th>
                                <th>Dépenses</th>
                                <th>Excédent</th>
                                <th>Déficit</th>
                                <th>Observations</th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td> <h5>Budget annexe de : </h5> </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                            <tr>
                                <td>1ère Partie</td>
                                <td> {{this.lineRC[11].split(',')[13]}} </td>
                                <td>{{this.lineDP[5].split(',')[4]}}</td>

                                @if(parseFloat(this.lineRC[11].split(',')[13]) > parseFloat(this.lineDP[5].split(',')[4]) ){
                                  <td> {{parseFloat(this.lineRC[11].split(',')[13]) - parseFloat(this.lineDP[5].split(',')[4])  }}</td>
                                  <td>0</td>
                                }
                                @else {
                                  <td> 0</td>
                                  <td>{{-parseFloat(this.lineRC[11].split(',')[13]) + parseFloat(this.lineDP[5].split(',')[4])  }}</td>
                                }
                                
                                <td><input type="text" class="form-control" placeholder="à verser à la 2éme partie du BA ..."></td>
                            </tr>
                            <tr>
                                <td>2ème Partie</td>
                                <td> {{this.lineRC[12].split(',')[13]}}</td>
                                <td>{{this.lineDP[6].split(',')[4]}}</td>
                                 @if(parseFloat(this.lineRC[12].split(',')[13]) > parseFloat(this.lineDP[6].split(',')[4]) ){
                                  <td> {{parseFloat(this.lineRC[12].split(',')[13]) - parseFloat(this.lineDP[6].split(',')[4])  }}</td>
                                  <td>0</td>
                                }
                                @else {
                                  <td> 0</td>
                                  <td>{{-parseFloat(this.lineRC[12].split(',')[13]) + parseFloat(this.lineDP[6].split(',')[4])  }}</td>
                                }
                                <td><input type="text" class="form-control" placeholder="à verser à la 2éme partie du BAaprées mise en réserve du montant des crédits ..."></td>
                            </tr>
                            <tr>
                              <td> <h5>Comptes Spéciaux : </h5> </td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td><input type="text" class="form-control" placeholder="à reporter ou à verser à la 2éme Partie du BP pour le comptes clotures ..."></td>
                          </tr>
                            <tr>
                                <td>CDD Éclairage Publique</td>
                                <td> {{this.lineRC[13].split(',')[13]}}</td>
                                <td>{{this.lineDP[7].split(',')[4]}}</td>
                                @if(parseFloat(this.lineRC[13].split(',')[13]) > parseFloat(this.lineDP[7].split(',')[4]) ){
                                  <td> {{parseFloat(this.lineRC[13].split(',')[13]) - parseFloat(this.lineDP[7].split(',')[4])  }}</td>
                                  <td>0</td>
                                }
                                @else {
                                  <td> 0</td>
                                  <td>{{-parseFloat(this.lineRC[13].split(',')[13]) + parseFloat(this.lineDP[7].split(',')[4])  }}</td>
                                }
                                <td>...</td>
                            </tr>
                            <tr>
                                <td>CDD Eau</td>
                                <td> {{this.lineRC[14].split(',')[13]}}</td>
                                <td>{{this.lineDP[8].split(',')[4]}}</td>
                                @if(parseFloat(this.lineRC[14].split(',')[13]) > parseFloat(this.lineDP[8].split(',')[4]) ){
                                  <td> {{parseFloat(this.lineRC[14].split(',')[13]) - parseFloat(this.lineDP[8].split(',')[4])  }}</td>
                                  <td>0</td>
                                }
                                @else {
                                  <td> 0</td>
                                  <td>{{-parseFloat(this.lineRC[14].split(',')[13]) + parseFloat(this.lineDP[8].split(',')[4])  }}</td>
                                }
                                <td>...</td>
                            </tr>
                            <tr>
                                <td>CAS Surtaxe d'Abattage</td>
                                <td> {{this.lineRC[15].split(',')[13]}}</td>
                                <td>{{this.lineDP[9].split(',')[4]}}</td>
                                @if(parseFloat(this.lineRC[15].split(',')[13]) > parseFloat(this.lineDP[9].split(',')[4]) ){
                                  <td> {{parseFloat(this.lineRC[15].split(',')[13]) - parseFloat(this.lineDP[9].split(',')[4])  }}</td>
                                  <td>0</td>
                                }
                                @else {
                                  <td> 0</td>
                                  <td>{{-parseFloat(this.lineRC[15].split(',')[13]) + parseFloat(this.lineDP[9].split(',')[4])  }}</td>
                                }
                                <td>...</td>
                            </tr>
                            <tr>
                                <td>CAS Projet de Réhabilitation des Bidonvilles SM</td>
                                <td> {{this.lineRC[16].split(',')[13]}}</td>
                                <td>{{this.lineDP[10].split(',')[4]}}</td>
                                @if(parseFloat(this.lineRC[16].split(',')[13]) > parseFloat(this.lineDP[10].split(',')[4]) ){
                                  <td> {{parseFloat(this.lineRC[16].split(',')[13]) - parseFloat(this.lineDP[10].split(',')[4])  }}</td>
                                  <td>0</td>
                                }
                                @else {
                                  <td> 0</td>
                                  <td>{{-parseFloat(this.lineRC[16].split(',')[13]) + parseFloat(this.lineDP[10].split(',')[4])  }}</td>
                                }
                                <td>...</td>
                            </tr>
                            <tr>
                                <td>CAS ILDG</td>
                                <td> {{this.lineRC[17].split(',')[13]}}</td>
                                <td> {{this.lineDP[11].split(',')[4]}}</td>
                                @if(parseFloat(this.lineRC[17].split(',')[13]) > parseFloat(this.lineDP[11].split(',')[4]) ){
                                  <td> {{parseFloat(this.lineRC[17].split(',')[13]) - parseFloat(this.lineDP[11].split(',')[4])  }}</td>
                                  <td>0</td>
                                }
                                @else {
                                  <td> 0</td>
                                  <td>{{-parseFloat(this.lineRC[17].split(',')[13]) + parseFloat(this.lineDP[11].split(',')[4])  }}</td>
                                }
                                <td>...</td>
                            </tr>
                            <tr>
                              <td> <h5>Budget Principale : </h5> </td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                          </tr>
                            <tr>
                                <td>1ère Partie</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><input type="text" class="form-control" placeholder="à verser à la 2éme partie ... "></td>
                            </tr>
                            <tr>
                                <td>2ème Partie</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><input type="text" class="form-control" placeholder="à reporter à l a 2éme Partie du BP de l'année suivante ... "></td>
                            </tr>
                            <!-- Totaux -->
                            <tr>
                                <td>Totaux</td>
                                <td>{{parseFloat(this.lineRC[11].split(',')[13]) + parseFloat(this.lineRC[12].split(',')[13]) +parseFloat(this.lineRC[13].split(',')[13])+parseFloat(this.lineRC[14].split(',')[13])+parseFloat(this.lineRC[15].split(',')[13]) +parseFloat(this.lineRC[16].split(',')[13])+parseFloat(this.lineRC[17].split(',')[13])}}</td>
                                <td> {{parseFloat(this.lineDP[5].split(',')[4])+parseFloat(this.lineDP[6].split(',')[4])+parseFloat(this.lineDP[7].split(',')[4])+parseFloat(this.lineDP[8].split(',')[4])+parseFloat(this.lineDP[9].split(',')[4])+parseFloat(this.lineDP[10].split(',')[4])+parseFloat(this.lineDP[11].split(',')[4])}} </td>
                                @if (parseFloat(this.lineRC[11].split(',')[13]) + parseFloat(this.lineRC[12].split(',')[13]) +parseFloat(this.lineRC[13].split(',')[13])+parseFloat(this.lineRC[14].split(',')[13])+parseFloat(this.lineRC[15].split(',')[13]) +parseFloat(this.lineRC[16].split(',')[13])+parseFloat(this.lineRC[17].split(',')[13]) > parseFloat(this.lineDP[5].split(',')[4])+parseFloat(this.lineDP[6].split(',')[4])+parseFloat(this.lineDP[7].split(',')[4])+parseFloat(this.lineDP[8].split(',')[4])+parseFloat(this.lineDP[9].split(',')[4])+parseFloat(this.lineDP[10].split(',')[4])+parseFloat(this.lineDP[11].split(',')[4]) ) {
                                  <td> {{parseFloat(this.lineRC[11].split(',')[13]) + parseFloat(this.lineRC[12].split(',')[13]) +parseFloat(this.lineRC[13].split(',')[13])+parseFloat(this.lineRC[14].split(',')[13])+parseFloat(this.lineRC[15].split(',')[13]) +parseFloat(this.lineRC[16].split(',')[13])+parseFloat(this.lineRC[17].split(',')[13]) - parseFloat(this.lineDP[5].split(',')[4])+parseFloat(this.lineDP[6].split(',')[4])+parseFloat(this.lineDP[7].split(',')[4])+parseFloat(this.lineDP[8].split(',')[4])+parseFloat(this.lineDP[9].split(',')[4])+parseFloat(this.lineDP[10].split(',')[4])+parseFloat(this.lineDP[11].split(',')[4])}} </td>
                                <td>0</td>
                                }
                                @else {
                                  <td>0</td>
                                  <td> {{- parseFloat(this.lineRC[11].split(',')[13]) + parseFloat(this.lineRC[12].split(',')[13]) +parseFloat(this.lineRC[13].split(',')[13])+parseFloat(this.lineRC[14].split(',')[13])+parseFloat(this.lineRC[15].split(',')[13]) +parseFloat(this.lineRC[16].split(',')[13])+parseFloat(this.lineRC[17].split(',')[13]) + parseFloat(this.lineDP[5].split(',')[4])+parseFloat(this.lineDP[6].split(',')[4])+parseFloat(this.lineDP[7].split(',')[4])+parseFloat(this.lineDP[8].split(',')[4])+parseFloat(this.lineDP[9].split(',')[4])+parseFloat(this.lineDP[10].split(',')[4])+parseFloat(this.lineDP[11].split(',')[4])}} </td>
                                }
  
                                
                                <td>...</td>
                            </tr>
                        </tbody>
                    </table>
                  
                    </div>

                    <button class="btn btn-success" (click)="valider()">Valider</button>
                    <button class="btn btn-secondary ms-2"  >Refuser</button>
                    <button class="btn btn-secondary ms-2"  (click)="retrlook()">Cacher</button>

                  </div>
                </div>
              </div>
            </div>
         } 
    </div>

    <div id="alreadyexist">
      <div class="row justify-content-center mb-4">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Rapportes :  </h5>
              <ul class="list-group list-group-flush">
                @if(iintrs[0] != null ){
                  @for(ab  of iintrs; track ab.id){
                    <li class="list-group-item"> Rapport de {{ab.todo.nomorg}} à  {{ab.year}} 
                      <button class="btn btn-sm btn-success ms-2" (click)="wannaseeit(ab)" > Voir </button>
                      <button class="btn btn-sm btn-success ms-2"  > Imprimer </button>
                    </li>  }
                 }@else {
                  <p class="text-muted" > Aucun Rappot n'est encore Validé.</p>
                 }
              </ul>
            </div>
          </div>
        </div>
      </div>




    <div class="row justify-content-center mb-4" id="users-section">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"> Utilisateurs </h5>
            <ul class="list-group list-group-flush">

                @for(user of users; track user.id){
                  <li class="list-group-item"> {{user.firstName }} {{user.lastName }} 
                    <button class="btn btn-sm btn-danger ms-2" (click)="supprimerUser(user)" >  Suprimmer </button>
                  </li>  }

            </ul>
          </div>
          <div class="card-footer">
            <button class="btn btn-secondary ms-2" (click)="wannaaddUser()"  > Ajouter Utilisateur </button>
          </div>
        </div>
      </div>
    </div>

    

    @if (ajouteruser) {
      <div class="card" id="formOfUser">
        <div class="card-body">
          <h5 class="card-title"> Ajouter un Utilisateur </h5>
  
          
            <div class="mb-3">
              
              <label for="userfirstname" class="form-label">Prénom  :</label>
              <input type="text"  [(ngModel)]="user.firstName" class="form-control" id="userfirstname" name="userfirstname" required> <!--[(ngModel)]="nouvelOrganisme.nom" -->
            </div>

              <div class="mb-3">
                <label for="lastName" class="form-label">Nom  :</label>
                <input    [(ngModel)]="user.lastName" type="text" class="form-control" id="lastName" name="lastName">
                
              </div>
              <div class="mb-3">
                <label for="emailuser" class="form-label">Email  :</label>
                <input   [(ngModel)]="user.emailId" type="email" class="form-control" id="emailuser" name="emailuser">
                
              </div>
  
            <div class="mb-3">
              <label for="telephone" class="form-label"> Téléphone : </label>
              <input  [(ngModel)]="user.mobileNo"  type="tel" class="form-control" id="mobileNo" name="mobileNo">
              
            </div>
  
            <div class="mb-3">
                <label for="email" class="form-label">Password : </label>
                <input   [(ngModel)]="user.password" type="password" class="form-control" id="password" name="password">
                
              </div>
  
            <button (click)="addUser()" class="btn btn-success ">Terminer </button>
            <button (click)="retouruser()" class="btn btn-warning ">Retour</button>
       
        </div>
      </div>
  
       }
  













   <app-footer></app-footer> 


