<div class="container">


  <div class="row align-items-center my-4">

    <div class="col"><img  class="images" src="logo.png" width="100px"/> </div>
    <div class="col">
      <h1 class="text-center">Gestion Budgétaire</h1>
    </div>
    <div class="col text-end">
      <span>Bienvenue, user </span> <label style="font-size: small;">Admin</label>
      <button class="btn btn-outline-primary ms-2" routerLink=""  > <!--(click)="logout() -->Déconnexion</button>
    </div>
</div>



    <div class="row justify-content-center mb-4">
        <div class="col-md-6">

          
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"> Ajouter un Organisme</h5>
      
              <!-- Formulaire pour ajouter un organisme -->
              <form > <!--(submit)="ajouterOrganisme()"-->
                <div class="mb-3">
                  <label for="nomOrganisme" class="form-label">Nom de l'Organisme</label>
                  <input type="text" class="form-control" id="nomOrganisme" name="nomOrganisme" required> <!--[(ngModel)]="nouvelOrganisme.nom" -->
                </div>
      
                <div class="mb-3">
                    <label for="id" class="form-label">Identifiant :</label>
                    <input type="text" class="form-control" id="id" name="id">
                    <!-- [(ngModel)]="nouvelOrganisme.adresse"-->
                  </div>
                  <div class="mb-3">
                    <label for="region" class="form-label">Region :</label>
                    <input type="text" class="form-control" id="region" name="region">
                    <!-- [(ngModel)]="nouvelOrganisme.adresse"-->
                  </div>
                  <div class="mb-3">
                    <label for="ville" class="form-label">Ville :</label>
                    <input type="text" class="form-control" id="ville" name="ville">
                    <!-- [(ngModel)]="nouvelOrganisme.adresse"-->
                  </div>
      
                <div class="mb-3">
                  <label for="telephone" class="form-label">Téléphone</label>
                  <input type="tel" class="form-control" id="telephone" name="telephone">
                  <!-- [(ngModel)]="nouvelOrganisme.telephone"-->
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email :</label>
                    <input type="email" class="form-control" id="email" name="email">
                    <!-- [(ngModel)]="nouvelOrganisme.adresse"-->
                  </div>
      
                <button type="submit" class="btn btn-success ">Ajouter</button>
              </form>
            </div>
          </div>



        </div>
      </div>
      



<app-footer> </app-footer>
  </div>
  