<div class="d-flex flex-column justify-content-center align-items-center vh-100">
    <h1 class="text-center">Reset Password</h1>
    <div class="reset-password-container">
      <h2 class="text-center">Enter Your Email</h2>
      <form>
        <div class="form-group">
          <label for="resetEmail">Email address</label>
          <input type="email" class="form-control" id="resetEmail" placeholder="Enter email" required>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
          <button class="btn btn-primary" type="button">Send </button>
        </div>
      </form>
    </div>
  </div>
  